.navbar-logo {
    height: 2rem;
}

.navbar-dark .navbar-nav .navbar-link {
    color: #eee;
}

.fullscreen {
    height: 95vh;
    width: 100vw;
}

#home .parallax  {
    background-image: url('../img/home.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rule .parallax  {
    background-image: url('../img/rules.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

#loginBody {
    background-image: url('../img/login.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    background-image: url('../img/contact.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#fixit {
    height: 70vh;
}