<section id="home">
    <div class="parallax">
        <div class="d-flex justify-content-center text-white">
            <h1 class="display-4 pt-5 mt-5 animated fadeInUp">Welcome to NMAMIT, Nitte</h1>   
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-sm-6 col-xs-12 animated fadeInLeft">
                <h1 class="display-4 ">About Our College</h1>
                <p class="lead text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure odit totam explicabo ad dolorum at laboriosam distinctio assumenda temporibus, consequatur laudantium aspernatur voluptates soluta, dolore atque suscipit aut eum dolor quis recusandae? Fuga esse reiciendis ex assumenda, aliquid, nulla mollitia unde deserunt alias dolore inventore. Tempora eligendi unde aspernatur laborum.</p>
            </div>
            <div class="col-sm-6 col-xs-12 animated fadeInRight">
                <h1 class="display-4">Nitte's Transport</h1>                
                <p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum doloribus error, necessitatibus architecto, asperiores id magni quam sapiente minus exercitationem magnam consequuntur accusamus obcaecati vero doloremque iusto fugiat repellat aperiam at repellendus dicta adipisci corrupti. Repellat eum doloremque possimus aut, unde harum odio, consectetur aliquid pariatur consequuntur.</p>
            </div>
        </div>
    </div>
</section>